.Column {
  width: 25%;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* min-height: 600px; */
  margin: 0px 10px;
  background-color: #101204;
}

.Columns-tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}

.Column-name-div {
  width: 100%;
  display: flex;
  align-items: start;
}

.Column-name {
  color: #9bb5b0;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 20px;
  letter-spacing: 0.1rem;
}

.Column-footer {
  padding: 1rem 0;
}

.Column-btn-add {
  color: #9bb5b0;
  display: flex;
  align-items: start;
  padding: 0.3rem;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.Column-btn-add:hover {
  opacity: 1;
}
