.EditForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.EditForm-input {
  color: white;
  background-color: #9bb5b02c;
  border-radius: 10px;
  border: none;
  width: 100%;
}

.for-input {
  height: 30px;
}

.EditForm-btn {
  font-size: 0.7rem;
  opacity: 0.8;
  padding: 0.2rem 0.4rem;
  border: 1px solid white;
  background-color: #e3e4e6 !important;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
  height: 25px;
  width: 100%;
  font-size: 15px;
}
