.EditForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.EditForm-input {
    width: 100%;
}

.EditForm-btn {
    font-size: 0.7rem;
    opacity: 0.8;
    padding: 0.2rem 0.4rem;
    border: 1px solid white;
    background-color: #E3E4E6!important;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    height: 25px;
    width: 100%;
}
